/*classe da barra de inicio*/
 .BarraDeInicio{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 16px; background: #488dc9;color: #fff;
}
/*classe menu*/
.menu{display: flex; gap: 40px;}

.menu a{color: #fff; text-decoration: none}
.menu a:hover{ color:#15436b;}

/*classe do texto*/
.texto{
  text-align: center;
}
/*classe da barra do meio*/
.BarraDoMeio {
    text-align: center;
}
/*classe dos cards*/
.cards{
    color: #488dc9;
    font-family: sans-serif;
    font-size: 10xp;
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }
    
.cards{ 
    background:rgba(40, 93, 177, 0.664);
    padding: 10xp;
    transition:background-color .2 ease;
}
    .card {
        flex:  1 1 270px;
        background: #fff;
        border: 1px solid #e5e5e5;
        border-radius: 10px;
        padding: 16px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.05);
        text-align: center;
    }
    .card:hover:hover{color: #488dc9;}
     .card{color: #15436b;}

    .cards{
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
     }
     @media (min-width: 600px){
      .cards{grid-template-columns: 1fr 1fr 1fr;}
     }

     .circulo,
     .pasta,
     .mensagen{
        font-size: 30px;
     }

     .menu a, 
     .menu .icone-nav{
        display: none;
     }